<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/sub2.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>
<header>
    <nav>
        <a herf="/index.html">
            <img src="/img/logo.png">
            <p>Cross Shock</p>
        </a>
        <ul>
            <a herf="#">
                <li>SERVICE</li>
            </a>
            <a herf="#">
                <li>COMPANY</li>
            </a>
            <a herf="#">
                <li>CONTACT</li>
            </a>
            <a herf="#">
                <li>AD CONSOL</li>
            </a>
            <a herf="#">
                <li>CROSSMATCHING</li>
            </a>
            <a herf="#">
                <li>CrossShock Work</li>
            </a>
        </ul>
    </nav>
</header>
<body>
    <section class="matchingMain">
        <div class="matchingMainText">
            <p>SERVICE &#62; <span>CROSS MATCHING</span></p>
        </div>
        <div class="matchingContent">
            <img src="#">
            <div>
                <p>전세계의 <span>개발사</span>와 <span>퍼블리셔</span>,<br>
                    크로스쇼크에서 <span>맞춤 매칭</span> 하세요!</p>
            </div>
        </div>
        <article class="startBox">
            <P>크로스 애드 시작하기<br><span>크로스쇼크가 처음이시라면 '시작 가이드'가 도움이 되실겁니다</span></P>
            <div class="guide">
                <p>시작가이드</p>
            </div>
            <div class="join">
                <p>가입하기</p>
            </div>
        </article>
    </section>
    <section class="platformMat">
        <div class="platformText">
            <p>
                Global Publisher Matching Open Platform
            </p>
        </div>
        <article class="matching_content">
            <div class="mat_con_text">
                <p>Cross<br>matching<br><span>전세계 개발사와 퍼블리셔 간 매칭 플랫폼<br>컨텐츠 특징, 희망지역, 희망 계약조건별 검색</span></p>
            </div>
            <div class="mat_con_circle"></div>
        </article>
    </section>
    <section class="mat_partner">
        <div class="mat_partner_text">
            <p>
                크로스쇼크에 앱을 등록하는 순간, 전세계 퍼블리셔에게 자동 노출됩니다.
            </p>
        </div>
        <div class="mat_partner_sub_text">
            <p>전세계 수많은 퍼블리셔와 개발사가 지금 이 순간에도 서로를 찾고 있습니다.<br>그럼에도 정보 부족으로 인해, 수많은 기회를 놓치고 있지 않으시나요?</p>
        </div>
        <div class="mat_partner_img">
            <img src="#">
            <p>Cross Matching 시스템을 통해, 퍼블리셔와 개발사가 각자의 니즈에 맞는 파트너를 검색할 수 있습니다.</p>
        </div>
    </section>
    <section class="matching_advantages">
        <div class="mat_advantages_text">
            <p>
                크로스매칭의 장점 1 - 간편한 검색을 통해 가망 파트너 발굴
            </p>
        </div>
        <div class="mat_advantages_sub_text">
            <p>니즈 검색을 통한 최적의 가망 파트너 리스트 제공
            <span><br>개발사와 퍼블리셔가 게임 정보와 소싱 정보, 계약 조건을 등록하면<br>조건 검색을 통해 최적의 가망 파트너 리스트를 볼 수 있습니다.</span></p>
        </div>
        <div class="mat_search_standard">
            <article>
                <div>주요 검색 기준</div>
                <p>01/게임 카테고리,개발 현황,타겟유저<br><br>02/개발사 정보 및 퍼블리셔 정보<br><br>03/희망 퍼블리싱 조건 및 타겟 지역<br><br>04/퍼블리셔 포트 폴리오 및 개발 포트폴리오</p>
            </article>
            <img src="#">
        </div>
    </section>
    <section class="matching_advantages_two">
        <div class="mat_advantages_two_text">
            <p>
                크로스매칭의 장점 2 - 신뢰할 수 있는 기업 정보/게임 정보
            </p>
        </div>
        <div class="mat_advantages_two_sub_text">
            <p>신뢰할 수 있는 게임정보, 퍼블리셔만을 제공합니다.<span><br>게임과 소개 내용의 일치여부를 직접 체크하여,최대한 정확한 게임 정보 만을 노출합니다.</span></p>
        </div>
        <article class="matching_system">
            <div class="matching_system_one">
                <div class="game_circle">
                    <p>게임사<br><i class="xi-gamepad xi-3x"></i><br>게임등록</p>
                </div>
                <div class="publishing_circle">
                    <p>퍼블리싱<br>서칭신청</p>
                </div>
                <div class="publishing_box">
                    <p>희망 퍼블리싱 조건<br><br>개발장르<br>희망국가<br>타겟유저<br>계약조건<br>퍼블리셔 커리어</p>
                </div>
                <div class="developer_box">
                    <p>개발사 정보<br><br>게임 컨셉 소개<br>회사소개<br>개발자 특장점 소개<br>개발 진행 상황<br>홈페이지 링크 제작</p>
                </div>
                <div class="judge_circle">
                    <p>기재정보<br>일치 여부 심사</p>
                </div>
            </div>
            <div class="matching_system_middle_text">퍼블리셔의 회사 소개 내용과 레퍼런스를 체크하여 신뢰할 수 있는 서칭 정보를 제공해드립니다.</div> 
            <div class="matching_system_two">
                <div class="publisher_circle">
                    <p>퍼블리셔<br><i class="xi-network-company xi-3x"></i><br>시청공지등록</p>    
                </div>
                <div class="developer_circle">
                    <p>개발사<br>서칭신청</p>
                </div>
                <div class="game_box">
                    <p>희망 게임 조건<br><br>희망장르<br>주력국가<br>주력장르<br>계약조건<br>개발사 커리어</p>
                </div>
                <div class="developer_box_two">
                    <p>개발사 정보<br><br>서칭 내용 등록<br>회사소개<br>퍼블리싱 레퍼런스<br>홈페이지 링크 제공</p>
                </div>
                <div class="judge_circle_two">
                    <p>기재정보<br>일치 여부 심사</p>
                </div>
            </div>
        </article>
    </section>
    <section class="matching_advantages_three">
        <div class="mat_advantages_three_text">
            <p>
                크로스매칭의 장점 3 - 관심 파트너에게 실시간 쪽지 보내기 및 알림 기능
            </p>
        </div>
        <div class="mat_advantages_three_sub_text">
            <p>관심 파트너에게 실시간 쪽지 보내기 및 알림 기능<span><br>개발 사항 변경,소싱 공고 변경 시 내가 찜한 업체에게 실시간 알림 쪽지 발송이 가능합니다.<br>상대방이 쪽지를 읽었는지 여부까지 확인 가능합니다.</span></p>
        </div>
        <div class="note">
            <img src="#">
        </div>
        <p class="attend_box">참가방법</p>
    </section>
    <section class="attend_method">
        <article class="attend_method_main">
            <div class="attend_developer_box">
                <p class="devel_text">개발사</p>
                <div class="cross_join">
                    <p>01<span><br>크로스 매칭 가입</span></p>
                </div>
                <div class="cross_game_intro">
                    <p>02<span><br>게임 소개 등록<br>게임소개,특장점 등록</span></p>
                </div>
                <div class="cross_developer_list">
                    <p>03<span><br>개발사 리스트에<br>노출</span></p>
                </div>
            </div>
            <div class="attend_publisher_box">
                <p class="publisher_text">퍼블리셔</p>
                <div class="cross_join_two">
                    <p>01<span><br>크로스 매칭 가입</span></p>
                </div>
                <div class="cross_game_search">
                    <p>02<span><br>게임 찾기<br>공고 등록</span></p>
                </div>
                <div class="cross_publisher_list">
                    <p>03<span><br>퍼블리셔 리스트에<br>노출</span></p>
                </div>
            </div>
        </article>
        <article class="tip_box_main">
            <div class="tip_box">
                <p>&#8251;반드시 읽어주세요
                    <span><br>회원가입만으로는 리스트에 노출되지 않습니다.<br>개발사는 '게임'메뉴에서 '신규 작성'버튼을 클릭하여 게임의 장점과 원하는 퍼블리싱 지역,<br>희망 계약 조건을 입력하셔야 퍼블리셔에게 노출됩니다.<br><br>퍼블리셔는 "퍼블리셔"메뉴에서 "신규작성"버튼을 클릭하여 회사 소개와 원하는 게임 종류,<br>희망 게약 조건을 기재하셔야 개발사에 노출됩니다.</span>
                </p>
            </div>
        </article>
    </section>
    


















<footer>
    <div>
        <ul>Copyright ⓒ 2018Cross Shock. All Rights Reserved.&nbsp;&nbsp;&nbsp;
            <li><a herf="#">개인정보</a></li>
            <li><a herf="#">이용약관</a></li>
            <li><a herf="#">크로스쇼크 대시보드</a></li>
            <li><a herf="#">개발자 센터</a></li>
            <li><a herf="#">SDK DOWN</a></li>
            <li><a herf="#">헬프센터</a></li>
        </ul>
    </div>
</footer>
</body>
</html>